# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = space
insert_final_newline = true

# indent
[*.js]
indent_size = 4

[*.styl]
indent_size = 2
