{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "indent": [2, 4],
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }]
  },
  "globals": {
    "Prism": true,
    "dat": false,
    "__SCROLLBAR_VERSION__": true
  }
}
