scrollbar,
[scrollbar],
[data-scrollbar] {
  display: block;
  position: relative;
  overflow: scroll;
}
scrollbar .scroll-content,
[scrollbar] .scroll-content,
[data-scrollbar] .scroll-content {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: transform;
}
scrollbar.scrolling .scroll-content,
[scrollbar].scrolling .scroll-content,
[data-scrollbar].scrolling .scroll-content {
  pointer-events: none;
}
scrollbar.scrolling .scroll-content .scroll-content,
[scrollbar].scrolling .scroll-content .scroll-content,
[data-scrollbar].scrolling .scroll-content .scroll-content {
  pointer-events: auto;
}
scrollbar .scrollbar-track,
[scrollbar] .scrollbar-track,
[data-scrollbar] .scrollbar-track {
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.5s 1s ease-out, background 0.5s ease-out;
          transition: opacity 0.5s 1s ease-out, background 0.5s ease-out;
  background: none;
}
scrollbar .scrollbar-track.show,
[scrollbar] .scrollbar-track.show,
[data-scrollbar] .scrollbar-track.show,
scrollbar .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
[data-scrollbar] .scrollbar-track:hover {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
scrollbar .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
[data-scrollbar] .scrollbar-track:hover {
  background: rgba(222,222,222,0.75);
}
scrollbar .scrollbar-track-x,
[scrollbar] .scrollbar-track-x,
[data-scrollbar] .scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
scrollbar .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
[data-scrollbar] .scrollbar-track-y {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}
scrollbar .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
[data-scrollbar] .scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
}
html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
#debug {
  margin-top: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#debug canvas {
  width: 250px;
  height: 150px;
  border: 1px solid #ccc;
  margin: 0 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
}
#debug table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#debug table input {
  width: 100%;
}
#debug tr:nth-child(even) {
  background: #f8f8f8;
  font-size: 12px;
}
#debug td {
  padding: 5px 1em;
}
#debug td:nth-child(1) {
  width: 20%;
}
#debug td:nth-child(2) {
  width: 60%;
}
#content {
  margin-top: 20px;
  border: 1px solid #ccc;
}
p {
  margin: 1em 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
h4 {
  margin: 1em 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
#monitor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 1;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#monitor table {
  width: 80%;
  margin: 0 auto;
}
#chart {
  width: 300px;
  height: 200px;
  border: 1px solid #aaa;
}
#track {
  position: relative;
  width: 100%;
  height: 20px;
  background: #ccc;
}
#thumb {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border: 3px solid #ccc;
  box-sizing: border-box;
  cursor: ew-resize;
}
.inner-scrollbar {
  width: 600px;
  height: 400px;
  float: left;
  margin: 0 1em 1em 0;
  border: 1px solid #ccc;
}
.inner-scrollbar .scroll-content {
  width: 1920px;
}
