@require '../../src/style/smooth-scrollbar.styl'

html, body
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

*
  -webkit-tap-highlight-color: transparent

main
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  flex-flow: column

#debug
  margin-top: 1em
  display: flex
  flex: 0 0 auto
  align-items: center
  justify-content: space-between

  canvas
    width: 250px
    height: 150px
    border: 1px solid #ccc
    margin: 0 1em
    flex: 0 0 250px

  table
    width: 100%
    border-collapse: collapse
    table-layout: fixed

    input
      width: 100%

  tr:nth-child(even)
    background: #f8f8f8
    font-size: 12px

  td
    padding: 5px 1em
    &:nth-child(1)
      width: 20%
    &:nth-child(2)
      width: 60%

#content
  margin-top: 20px
  border: 1px solid #ccc

p
  margin: 1em 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

h4
  margin: 1em 0 0
  text-transform: uppercase
  font-weight: bold

#monitor
  display: flex
  flex-flow: column
  position: fixed
  right: 1em
  bottom: 1em
  z-index: 1
  background: #fff
  text-align: center
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)

  table
    width: 80%
    margin: 0 auto

#chart
  width: 300px
  height: 200px
  border: 1px solid #aaa

#track
  position: relative
  width: 100%
  height: 20px
  background: #ccc

#thumb
  margin: 0
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: 100%
  background: #fff
  border: 3px solid #ccc
  box-sizing: border-box
  cursor: ew-resize

.inner-scrollbar
  width: 600px
  height: 400px
  float: left
  margin: 0 1em 1em 0
  border: 1px solid #ccc

  .scroll-content
    width: 1920px