$scrollbar-track = rgba(222, 222, 222, .75)
$scrollbar-thumb = rgba(0, 0, 0, .5)

scrollbar
[scrollbar]
[data-scrollbar]
  display: block
  position: relative

  .scroll-content
    transform: translate3d(0, 0, 0)
    will-change: transform

  &.sticky
    .scrollbar-track
      background: $scrollbar-track

  .scrollbar-track
    position: absolute
    opacity: 0
    z-index: 1
    transition: opacity .5s ease-out, background .5s ease-out
    background: none

    &.show
    &:hover
      opacity: 1
    &:hover
      background: $scrollbar-track

  .scrollbar-track-x
    bottom: 0
    left: 0
    width: 100%
    height: 8px
  .scrollbar-track-y
    top: 0
    right: 0
    width: 8px
    height: 100%

  .scrollbar-thumb
    position: absolute
    top: 0
    left: 0
    width: 8px
    height: 8px
    background: $scrollbar-thumb
    border-radius: 4px

  .overscroll-glow
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
